:root {
    --dark_blue: #0E1C36;
    --green: #3B7080;
    --grey:  #E0E0E0;
}

html {
    height: 100%;
    background-color: var(--green);
}

body {
    height: 100%;
}
h1 {
    font-size: 80px;
}
.hero {
    height: 91vh !important;
    background-image: url("../assets/images/Home.gif");
    filter: var(--dark_blue);
    box-shadow: inset 0 0 0 1000px rgba(59, 112, 128, 0.7);
    background-position: bottom;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    color:  var(--grey);
}
.skills {
    background-color: var(--green);
    color: var(--dark_blue);
}

.proj {
    background-color:  var(--dark_blue) !important;
    color:  var(--grey) !important;
}

.exp {
    background-color:  var(--grey) !important;
}

.about {
    background-color:  var(--grey) !important;
    color:  var(--dark_blue) !important;
}

.nav-link {
    background-color:  var(--grey) !important;
    color:  var(--dark_blue) !important;
}

.nav-link.active {
    background-color:  var(--dark_blue) !important;
    color:  var(--grey) !important;
}

.tabs {
    width: 50%;
    margin: auto;
}
.tab {
    width: 70%;
    margin: auto;
    padding-bottom: 50px;
}

.navy {
    background-color:  var(--dark_blue) !important;
    color:  var(--grey) !important;
    
}

.navbar.sticky-top {

    box-shadow: 0 2px 4px  var(--green);
} 

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid  var(--dark_blue);
    width: 50%;
    margin: auto;
}

@media (max-width: 1400px) {
    .carousel {
        height: 600px;
        /* Adjust the width as needed */
        margin: 0 auto;
        /* Center the carousel horizontally */
    }
    .carousel-about {
        height: 750px;
        /* Adjust the width as needed */
        margin: 0 auto;
        /* Center the carousel horizontally */
    }

} 

@media (max-width: 1200px) {
    .carousel {
        height: 1100px;
        /* Adjust the width as needed */
        margin: 0 auto;
        /* Center the carousel horizontally */
        
    }
    .carousel-about {
        height: 700px;
        /* Adjust the width as needed */
        margin: 0 auto;
        /* Center the carousel horizontally */
    }
    .project {
        flex-direction: column-reverse;
    }
        }
    


@media (max-width: 900px) {
    .carousel {
        height: 1000px;
        /* Adjust the width as needed */
        margin: 0 auto;
        /* Center the carousel horizontally */
        flex-direction: column ;
    }
    .carousel-about {
        height: 1100px;
        /* Adjust the width as needed */
        margin: 0 auto;
        /* Center the carousel horizontally */
    }
    .project {
        flex-direction: column-reverse;
    }
    .experiences {
        text-align: center !important;
        margin: auto !important;
    }
} 

@media (max-width: 786px) {
    .nav-link {
        /* background-color: var(--green) !important; */
        color: var(--dark_blue) !important;
        border: 1px var(--dark_blue) solid !important;
    }
    .navy {
        background-color: var(--dark_blue) !important;
        color: var(--grey) !important;
    }
} 


@media (min-width: 1400px) {
    .carousel {
        height: 700px;
        /* Adjust the width as needed */
        margin: 0 auto;
        /* Center the carousel horizontally */
    }
    .carousel-about {
        height: 400px;
        /* Adjust the width as needed */
        margin: 0 auto;
        /* Center the carousel horizontally */
    }

}
@media (min-width: 991) {
    .carousel {
        height: 900px;
        /* Adjust the width as needed */
        margin: 0 auto;
        /* Center the carousel horizontally */
    }
    .carousel-about {
        height: 400px;
        /* Adjust the width as needed */
        margin: 0 auto;
        /* Center the carousel horizontally */
    }

}

@media (min-width: 1800px) {
    .carousel {
        height: 1100px;
        /* Adjust the width as needed */
        margin: 0 auto;
        /* Center the carousel horizontally */
    }
    .carousel-about {
        height: 400px;
        /* Adjust the width as needed */
        margin: 0 auto;
        /* Center the carousel horizontally */
    }

}

li {
    width: 70%;
}

.statement {
    width: 70%;
    margin: auto;
}

.carousel-caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    height: 100%;
}


.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    bottom: 0;
    width: auto;
    margin-bottom: 0;
}

.btn-change1 {
    height: 40px;
    width: 120px;
    margin: 20px;
    border: 1px solid  var(--green) !important;
    color: var(--dark_blue);
    box-shadow: 0 0 1px  var(--green);
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -webkit-box-shadow: 0px 0px 0 0  var(--green) inset, 0px 0px 0 0  var(--green) inset;
    background-color:  var(--green);
}

.btn-change1:hover {
    border: 1px solid var(--grey) !important;
    color:  var(--grey) !important;
    background-color: var(--green);
    box-shadow: 50px 0px 0 0  var(--dark_blue) inset, -50px 0px 0 0  var(--dark_blue) inset;
    -webkit-box-shadow: 60px 0px 0 0  var(--dark_blue) inset, -60px 0px 0 0  var(--dark_blue) inset;
}

.btn-change2 {
    height: 40px;
    width: 120px;
    margin: 20px;
    border: 1px solid  var(--green)!important;
    color:  var(--dark_blue);
    box-shadow: 0 0 1px  var(--green);
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -webkit-box-shadow: 0px 0px 0 0  var(--green) inset, 0px 0px 0 0  var(--green) inset;
    background-color:  var(--green);
}

.btn-change2:hover {
    border: 1px solid  var(--dark_blue) !important;
    color:  var(--dark_blue) !important;
    background-color:  var(--green);
    box-shadow: 50px 0px 0 0  var(--grey) inset, -50px 0px 0 0  var(--grey) inset;
    -webkit-box-shadow: 60px 0px 0 0  var(--grey) inset, -60px 0px 0 0  var(--grey) inset;
}

.nav-link {
    color:  var(--grey);
    /* border: 0 !important */
}

.nav-link:hover {
    color:  var(--green);
    /* border: 0 !important */
}

.nav-tabs .nav-link.active {
    background-color:  var(--green);
}

.nav-link {
    position: relative;
    color: #000;
    text-decoration: none;
}

.nav-link:hover {
    color: #000;
}

.nav-link::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--green);
    transform: scaleX(0);
    transition: transform 0.3s ease;

}

.nav-link:hover::before {
    transform: scaleX(1);
}

.nav-link.active {
    position: relative;
    color: #000;
    text-decoration: none;
}

.nav-link.active:hover {
    color: #000;
}

.nav-link.active::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--green);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-link.active:hover::before {
    transform: scaleX(1);
}


.about h3::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--green);
    transform: scaleX(0.02);
    transition: transform 0.3s ease;
}

.about:hover h3::before {
    transform: scaleX(0.2);
}

.skills h3::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--grey);
    transform: scaleX(0.02);
    transition: transform 0.3s ease;
}

.skills:hover h3::before {
    transform: scaleX(0.2) !important;
}

.proj h3::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--green);
    transform: scaleX(0.02);
    transition: transform 0.3s ease;
}

.proj:hover h3::before {
    transform: scaleX(0.2);
}

.exp h3::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--dark_blue);
    transform: scaleX(0.02);
    transition: transform 0.3s ease;
}

.exp:hover h3::before {
    transform: scaleX(0.2);
}

.navbar-toggler-icon {
    background-image: url('../assets/images/burger.png') !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

#projects, #experiences, #skills, #aboutMe, #hero {
    display: block;
    visibility: hidden;
    padding-top: 70px;
    margin-top: -70px;
}